@charset "utf-8";


.root {
  width: 100%;
  padding-block-start: 8px;
  padding-block-end: 8px;
  padding-inline: 8px;
  border-radius: 4px;
  background-color: var(--color);
  box-shadow: 0px 0px 0px 1px hsla(0, 0%, 0%, 0.2) inset;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  z-index: 0;
  &:focus-visible {
    outline: 3px var(--focus-color) solid;
  }
  &:disabled {
    cursor: inherit;
  }
  &[data-light] {
    color: hsla(0, 0%, 0%, 0.8);
  }
  &:not([data-light]) {
    color: hsla(0, 0%, 100%, 0.8);
  }
  &[data-pop] {
    animation: pop 0.5s ease-in-out;
  }
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  z-index: 1;
}

.name {
  font-size: 130%;
  font-weight: bold;
  line-height: 1.2;
}

.value-list {
  margin-block-start: 8px;
  row-gap: 4px;
  font-size: 80%;
  display: flex;
  flex-direction: column;
}

.mark {
  inset: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 0;
}

.mark-icon {
  height: 50%;
  .root[data-light] & {
    color: hsla(0, 0%, 0%, 0.2);
  }
  .root:not([data-light]) & {
    color: hsla(0, 0%, 100%, 0.2);
  }
}


@keyframes pop {
  0% {
    transform: scale(100%);
  }
  50% {
    transform: scale(110%);
  }
  100% {
    transform: scale(100%);
  }
}