@charset "utf-8";


.difficulty {
  margin-block-end: 40px;
  column-gap: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.question {
  margin-block-end: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.target-name {
  font-size: 160%;
  font-weight: bold;
  line-height: 1.2;
}

.after-target-name {
  margin-block-start: 8px;
}

.color-list {
  column-gap: 8px;
  row-gap: 8px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.button {
  margin-block-start: 40px;
  display: flex;
  justify-content: center;
  >* {
    width: 80%;
  }
}